src/main/app/examplerest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd">
    <flow name="examplerestFlow1" doc:name="examplerestFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8048" doc:name="HTTP"/>
        <logger message="Before hitting the service the payload is : #[payload]" level="INFO" doc:name="Logger"/>
        <jersey:resources doc:name="REST">
            <component class="org.ww.sample.ExampleServiceImpl"/>
        </jersey:resources>
        <logger message="Response from the Example Service is: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
